---
layout: page
title: "Online Lab Night"
description: "Videochat der freien Maker"
---
<script>
  fbq('track', 'ViewContent', {
    content_type: 'podcast-epiode',
  });
</script>

<h2>Über die Online Lab Night</h2>
<p>
Jeden Dienstag um 21 Uhr streamen wir die Online Lab Night auf meinem YouTube Kanal. Was als virtuelles Vereinstreffen während der Pandemie gedacht war, hat sich zu einer interessanten Sendung für Maker mit spannenden Gästen entwickelt.

<div class="list-group">
    {% for post in site.posts %}
        {% if post.tags contains 'podcast-episode' %}
        <a class="list-group-item" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }},{{ post.date | date: ' %Y' }}</a>
        {% endif %}
    {% endfor %}
</div>
